.footerStyles {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;

  /* Visual */
  background: var(--background);
  color: var(--text2);
}
.footerStyles div {
  margin-bottom: 3rem;
}
.footerStyles div svg{
  font-size: 4rem;
  margin: 2rem;
  opacity: .3;
}
.footerStyles p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerStyles svg {
  margin-right: .3rem;
}
.footerStyles p strong {
  margin-left: .3rem;
}