.bannerContainer {
  /* Box Model */
  height: 60vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* Visual */
  background: url('/icons/bg.png') no-repeat center center / cover;
}

.contentBox {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 18.5rem;
  width: 55%;
}
.contentBox h1 {
  /* Tipography */
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  /* Visual */
  color: var(--primary);
}
.contentBox p {
  /* Box Model */
  width: 90%;

  /* Tipography */
  font-size: 1.6rem;
  line-height: 2.5rem;

  /* Visual */
  color: var(--text2);
}

.contentBox div {
  /* Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}