/* Banner Container */
.bannerContainer {
  /* Box Model */
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* Visual */
  background: url('/icons/bg.png') no-repeat center center / cover;
}

.contentBox {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 18.5rem;
  width: 55%;

  /* Position */
  transform: translateX(15rem);
}
.contentBox p {
  /* Box Model */
  width: 75%;

  /* Tipography */
  font-size: 1.6rem;
  line-height: 2.5rem;

  /* Visual */
  color: var(--text2);
}

.contentBox div {
  /* Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 43rem;
}

/* Social Media Container */
.socialMediaContainer {
  /* Box Model */
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  align-items: center;

  /* Visual */
  background: var(--background2);
}
.socialMediaContainer img {
  /* Box Model */
  width: 80%;
  justify-self: center;

  /* Visual */
  filter: grayscale(1);
  opacity: .2;
  transition: all 0.2s linear;
}
.socialMediaContainer img:hover {
  /* Visual */
  filter: grayscale(0);
  opacity: 1;
}

/* Main Container */
.mainContainer {
  /* Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10rem;
  padding: 8rem 20rem;

  /* Visual */
  background: var(--background)
;}

.leftContent  {
  /* Box Model */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.rightContent {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-self: space-between;
  align-items: flex-start;
  width: 60%;
}
.rightContent > p {
  /* Box Model */
  margin-top: 2rem;
}
.rightContent p {
  /* Box Model */
  width: 100%;

  /* Tipography */
  font-size: 1.6rem;
  line-height: 2.5rem;

  /* Visual */
  color: var(--text2);
}

.appParticulars {
  /* Box Model */
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  width: 100%;
  padding: 4rem 0;
}
.appParticulars div {
  /* Box Model */
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.appParticulars div img {
  justify-self: center;
}

.buttons {
  /* Box Model */
  display: flex;
  align-items: center;
}
.buttons a {
  /* Box Model */
  margin-left: 4rem;

  /* Tipography */
  font-size: 1.5rem;

  /* Visual */
  color: var(--primary);
}

/* Particulars Grid Container */
.particularsGridContainer {
  /* Box model */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
  padding: 10rem 20rem;

  /* Visual */
  background: var(--green);
}

.item {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 19rem;
  width: 100%;

  /* Tipography */
  text-align: center;

  /* Visual */
  color: var(--white);
}
.item img {
  /* Box Model */
  height: 3rem;
  width: 3rem;
  margin-bottom: 1.5rem;
}
.item h2 {
  /* Tipography */
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}
.item p {
  /* Tipography */
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 300;
}
