/* Banner Container */
.bannerContainer {
  /* Box Model */
  height: 70vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* Visual */
  background: url('/icons/bg.png') no-repeat center center / cover;
}

.contentBox {
  /* Box Model */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 18.5rem;
  width: 55%;

  /* Position */
  transform: translateX(15rem);
}
.contentBox h1 {
  /* Tipography */
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  /* Visual */
  color: var(--primary);
}
.contentBox p {
  /* Box Model */
  width: 75%;

  /* Tipography */
  font-size: 1.6rem;
  line-height: 2.5rem;

  /* Visual */
  color: var(--text2);
}

.contentBox div {
  /* Box Model */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 43rem;
}

/* Social Media Container */
.socialMediaContainer {
  /* Box Model */
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  align-items: center;

  /* Visual */
  background: var(--background2);
}
.socialMediaContainer img {
  /* Box Model */
  width: 80%;
  justify-self: center;

  /* Visual */
  filter: grayscale(1);
  opacity: .2;
  transition: all 0.2s linear;
}
.socialMediaContainer img:hover {
  /* Visual */
  filter: grayscale(0);
  opacity: 1;
}