html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 72.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --white: #fff;
  --primary: #525252;
  --text2: #797879;
  --green: #42be7c;
  --dark-green: #47ad77;
  --background: #E5E5E5;
}

section {
  padding: 2rem 20rem;
  height: 100%;
  width: 100%;
}

a,
ul,
li {
  color: inherit;
  text-decoration: none;
  list-style: none;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  html,
  body {
    font-size: 62.5%;
  }

  section {
    padding: 2rem 15rem;
  }
}

@media screen and (max-width: 1200px) {
  section {
    padding: 2rem 10rem;
  }
}
@media screen and (max-width: 1080px) {
  section {
    padding: 2rem 5rem;
  }
}